<div class="card-deck">
  <div class="card">
    <img src="assets/img/profil.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Cornelia</h5>
      <p class="card-text">Hi! We are future developers who are now playing with Angular!</p>
      <p class="card-text"><small class="text-muted">Last updated 5 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="assets/img/profil.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Hans-Jürgen</h5>
      <p class="card-text">Hi! We are future developers who are now playing with Angular!</p>
      <p class="card-text"><small class="text-muted">Last updated 5 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="assets/img/profil.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Bálint</h5>
      <p class="card-text">Hi! We are future developers who are now playing with Angular!.</p>
      <p class="card-text"><small class="text-muted">Last updated 5 mins ago</small></p>
    </div>
  </div>
</div>

